<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Head Height</string>
		<key>type</key>
		<string>Line</string>
		<key>frame</key>
		<integer>0</integer>
		<key>x1</key>
		<integer>0</integer>
		<key>y1</key>
		<real>0.25</real>
		<key>x2</key>
		<integer>1</integer>
		<key>y2</key>
		<real>0.25</real>
		<key>LRMovable</key>
		<false/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Head Height</string>
		<key>type</key>
		<string>Line</string>
		<key>frame</key>
		<integer>5</integer>
		<key>x1</key>
		<integer>0</integer>
		<key>y1</key>
		<real>0.25</real>
		<key>x2</key>
		<integer>1</integer>
		<key>y2</key>
		<real>0.25</real>
		<key>LRMovable</key>
		<false/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Head Height</string>
		<key>type</key>
		<string>Line</string>
		<key>frame</key>
		<integer>6</integer>
		<key>x1</key>
		<integer>0</integer>
		<key>y1</key>
		<real>0.3</real>
		<key>x2</key>
		<integer>1</integer>
		<key>y2</key>
		<real>0.3</real>
		<key>LRMovable</key>
		<false/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Hip Depth</string>
		<key>type</key>
		<string>Line</string>
		<key>frame</key>
		<integer>0</integer>
		<key>x1</key>
		<real>0.25</real>
		<key>y1</key>
		<real>0.4</real>
		<key>x2</key>
		<real>0.25</real>
		<key>y2</key>
		<real>0.6</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Head Position</string>
		<key>type</key>
		<string>Line</string>
		<key>frame</key>
		<integer>0</integer>
		<key>x1</key>
		<real>0.6</real>
		<key>y1</key>
		<real>0.25</real>
		<key>x2</key>
		<real>0.6</real>
		<key>y2</key>
		<real>0.4</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<false/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Shaft Line To Armpit</string>
		<key>type</key>
		<string>Line</string>
		<key>frame</key>
		<integer>0</integer>
		<key>x1</key>
		<real>0.1</real>
		<key>y1</key>
		<real>0.1</real>
		<key>x2</key>
		<real>0.8</real>
		<key>y2</key>
		<real>0.8</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Elbow-Hosel Line</string>
		<key>type</key>
		<string>Line</string>
		<key>frame</key>
		<integer>0</integer>
		<key>x1</key>
		<real>0.3</real>
		<key>y1</key>
		<real>0.4</real>
		<key>x2</key>
		<real>0.8</real>
		<key>y2</key>
		<real>0.95</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Hands Position</string>
		<key>type</key>
		<string>Rect</string>
		<key>frame</key>
		<integer>2</integer>
		<key>x1</key>
		<real>0.5</real>
		<key>y1</key>
		<real>0.5</real>
		<key>x2</key>
		<real>0.6</real>
		<key>y2</key>
		<real>0.58</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Hands Position</string>
		<key>type</key>
		<string>Rect</string>
		<key>frame</key>
		<integer>4</integer>
		<key>x1</key>
		<real>0.25</real>
		<key>y1</key>
		<real>0.15</real>
		<key>x2</key>
		<real>0.35</real>
		<key>y2</key>
		<real>0.23</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Hands Position</string>
		<key>type</key>
		<string>Rect</string>
		<key>frame</key>
		<integer>7</integer>
		<key>x1</key>
		<real>0.5</real>
		<key>y1</key>
		<real>0.5</real>
		<key>x2</key>
		<real>0.6</real>
		<key>y2</key>
		<real>0.58</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Hands Position</string>
		<key>type</key>
		<string>Rect</string>
		<key>frame</key>
		<integer>11</integer>
		<key>x1</key>
		<real>0.5</real>
		<key>y1</key>
		<real>0.5</real>
		<key>x2</key>
		<real>0.6</real>
		<key>y2</key>
		<real>0.58</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Club Face Angle</string>
		<key>type</key>
		<string>RotateRect</string>
		<key>frame</key>
		<integer>2</integer>
		<key>x1</key>
		<real>0.5</real>
		<key>y1</key>
		<real>0.7</real>
		<key>x2</key>
		<real>0.55</real>
		<key>y2</key>
		<real>0.7</real>
		<key>x3</key>
		<real>0.55</real>
		<key>y3</key>
		<real>0.78</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Club Face Angle</string>
		<key>type</key>
		<string>RotateRect</string>
		<key>frame</key>
		<integer>7</integer>
		<key>x1</key>
		<real>0.5</real>
		<key>y1</key>
		<real>0.7</real>
		<key>x2</key>
		<real>0.55</real>
		<key>y2</key>
		<real>0.7</real>
		<key>x3</key>
		<real>0.55</real>
		<key>y3</key>
		<real>0.78</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Shaft Line</string>
		<key>type</key>
		<string>LineWithNode</string>
		<key>frame</key>
		<integer>3</integer>
		<key>x1</key>
		<real>0.2</real>
		<key>y1</key>
		<real>0.05</real>
		<key>x2</key>
		<real>0.4</real>
		<key>y2</key>
		<real>0.4</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Shaft Line</string>
		<key>type</key>
		<string>LineWithNode</string>
		<key>frame</key>
		<integer>6</integer>
		<key>x1</key>
		<real>0.2</real>
		<key>y1</key>
		<real>0.05</real>
		<key>x2</key>
		<real>0.4</real>
		<key>y2</key>
		<real>0.4</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Shaft Line</string>
		<key>type</key>
		<string>LineWithNode</string>
		<key>frame</key>
		<integer>10</integer>
		<key>x1</key>
		<real>0.55</real>
		<key>y1</key>
		<real>0.55</real>
		<key>x2</key>
		<real>0.75</real>
		<key>y2</key>
		<real>0.85</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Shaft Line</string>
		<key>type</key>
		<string>LineWithNode</string>
		<key>frame</key>
		<integer>13</integer>
		<key>x1</key>
		<real>0.2</real>
		<key>y1</key>
		<real>0.05</real>
		<key>x2</key>
		<real>0.4</real>
		<key>y2</key>
		<real>0.4</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Shoulder Tilt</string>
		<key>type</key>
		<string>ExternLineWithNode</string>
		<key>frame</key>
		<integer>4</integer>
		<key>x1</key>
		<real>0.3</real>
		<key>y1</key>
		<real>0.25</real>
		<key>x2</key>
		<real>0.5</real>
		<key>y2</key>
		<real>0.3</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Shoulder Tilt</string>
		<key>type</key>
		<string>ExternLineWithNode</string>
		<key>frame</key>
		<integer>12</integer>
		<key>x1</key>
		<real>0.4</real>
		<key>y1</key>
		<real>0.3</real>
		<key>x2</key>
		<real>0.5</real>
		<key>y2</key>
		<real>0.45</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Knees Gaps</string>
		<key>type</key>
		<string>Ruler</string>
		<key>frame</key>
		<integer>5</integer>
		<key>x1</key>
		<real>0.5</real>
		<key>y1</key>
		<real>0.55</real>
		<key>x2</key>
		<real>0.6</real>
		<key>y2</key>
		<real>0.7</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Knees Gaps</string>
		<key>type</key>
		<string>Ruler</string>
		<key>frame</key>
		<integer>6</integer>
		<key>x1</key>
		<real>0.5</real>
		<key>y1</key>
		<real>0.55</real>
		<key>x2</key>
		<real>0.55</real>
		<key>y2</key>
		<real>0.7</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Knees Gaps</string>
		<key>type</key>
		<string>Ruler</string>
		<key>frame</key>
		<integer>9</integer>
		<key>x1</key>
		<real>0.4</real>
		<key>y1</key>
		<real>0.55</real>
		<key>x2</key>
		<real>0.45</real>
		<key>y2</key>
		<real>0.7</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Elbow Line</string>
		<key>type</key>
		<string>ExternLineWithNode</string>
		<key>frame</key>
		<integer>6</integer>
		<key>x1</key>
		<real>0.4</real>
		<key>y1</key>
		<real>0.25</real>
		<key>x2</key>
		<real>0.35</real>
		<key>y2</key>
		<real>0.5</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Elbow Angle</string>
		<key>type</key>
		<string>Angle</string>
		<key>frame</key>
		<integer>7</integer>
		<key>x1</key>
		<real>0.4</real>
		<key>y1</key>
		<real>0.4</real>
		<key>x2</key>
		<real>0.4</real>
		<key>y2</key>
		<real>0.5</real>
		<key>x3</key>
		<real>0.5</real>
		<key>y3</key>
		<real>0.6</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Elbow Angle</string>
		<key>type</key>
		<string>Angle</string>
		<key>frame</key>
		<integer>9</integer>
		<key>x1</key>
		<real>0.4</real>
		<key>y1</key>
		<real>0.4</real>
		<key>x2</key>
		<real>0.4</real>
		<key>y2</key>
		<real>0.5</real>
		<key>x3</key>
		<real>0.5</real>
		<key>y3</key>
		<real>0.6</real>
		<key>LRMovable</key>
		<true/>
		<key>UDMovable</key>
		<true/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>up</string>
		<key>type</key>
		<string>Curve</string>
		<key>frame</key>
		<integer>14</integer>
		<key>LRMovable</key>
		<false/>
		<key>UDMovable</key>
		<false/>
		<key>Rotatable</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>down</string>
		<key>type</key>
		<string>Curve</string>
		<key>frame</key>
		<integer>14</integer>
		<key>LRMovable</key>
		<false/>
		<key>UDMovable</key>
		<false/>
		<key>Rotatable</key>
		<false/>
	</dict>
</array>
</plist>
